.App {
  /*   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */

  background: url("../img/earth.png");
  font-family: "Poppins", sans-serif;
  background-size: cover;
  margin: 0;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}
.boards {
  display: flex;
  color: white;
  width: 95%;
  margin: auto;
}

h1 {
  text-align: center;
  margin: 0;
  color: white;
  padding: 30px;
}

h2 {
  margin-top: 0;
  text-align: center;
}

.board {
  height: 75vh;
  border-radius: 25px;
  background: rgba(rgba(20, 13, 59, 0.788), 0.8);
  align-items: center;
  margin: 0 10px 10px 10px;
  padding: 30px;
}

.clock-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 70%;
  overflow-y: hidden;
  align-content: space-around;
}

.find-city-board {
  width: 25%;
}
